* {
    font-family: Arial;
    font-size:20px;
    font-style: italic;
}

body {
	color:rgb(10, 0, 0);
}

#container {
	position:absolute;
}

#webglcanvas {
	border:none;
	background-color:#ffffff;
}

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

#storyText {
	position:absolute;
	left:20px;
	bottom:20px;
	margin-right: 50%;
	color:#b8c3f5;
}

